body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 850px;
    background-color:seashell;
}

#row1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
#name-address {
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: left;
    width: 50%;
    padding: 10px;
}
#photoToghrul {
    float: right;
    padding: 10px;
}

#publications, #about-me {
    flex: 1;
    margin-left: 8px;
}
